.header {
    font: normal 20px "Segoe UI Light", "Segoe", sans-serif;
}

.content {
    margin-top: 10%;
    margin-bottom: auto;
}

#body {
    background-color: #abcdef;
    text-align: center;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}