<!DOCTYPE html>
<html>
<head>
    <!--[if lt IE 9]>
    <script src="/javascript/compatibility/html5shiv.js"></script>
    <![endif]-->
    <meta charset="UTF-8"/>
    <title>Customer | Restaurant Management System</title>
    <meta name="author" content="Aneesh Neelam (11BCE0260)"/>
    <link href="/images/favicon.ico" rel="icon" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" href="/foundation/css/foundation.css"/>
    <script type="text/javascript" src="/foundation/js/vendor/modernizr.js"></script>
</head>
<body>
<nav class="top-bar" data-topbar>
    <ul class="title-area">
        <li class="name">
            <h1><a href="/">Restaurant Management System</a></h1>
        </li>
    </ul>
    <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
            <li><a href="/logout">Logout</a></li>
        </ul>

        <!-- Left Nav Section -->
        <ul class="left">
            <li class="active"><a href="/customer">Overview</a></li>
            <li><a href="/customer/menu">Restaurant Menu</a></li>
            <li><a href="/customer/review">Restaurant Reviews</a></li>
            <li><a href="/customer/order">Orders</a></li>
            <li><a href="/customer/reserve">Reservations</a></li>
        </ul>
    </section>
</nav>

<div class="row">
    <div class="row">
        <h2>Pending Orders: </h2>
    </div>
    <ul class="row">
        <div class="large-12 columns">
            {% for order in Order %}
            <label>At: {{order.time}}</label>
            <label>Order items: {{order['items']}}</label>
            <br>
            {% endfor %}
        </div>
    </ul>
</div>

<div class="row">
    <div class="row">
        <h2>Reservation</h2>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <label>Reservation at: {{ Reservation.time }} from {{ Reservation.time_reservation }}</label>
            <label>Number of people: {{ Reservation.number }}</label>
        </div>
    </div>
</div>

<footer>
    <div class="large-12 columns">
        <hr>
        <h6 style="text-align: center">Restaurant Management System developed as a <a
                href="https://sites.google.com/a/vit.ac.in/cse310/">Software
            Engineering</a>
            Project by <a href="mailto:neelam.aneesh@gmail.com">Aneesh Neelam (11BCE0260)</a> of <a
                    href="http://vit.ac.in/">VIT
                University</a>.</h6>
    </div>
</footer>

</body>
</html>