<!DOCTYPE html>
<html>
<head>
    <!--[if lt IE 9]>
    <script src="/javascript/compatibility/html5shiv.js"></script>
    <![endif]-->
    <meta charset="UTF-8"/>
    <title>Manager | Restaurant Management System</title>
    <meta name="author" content="Aneesh Neelam (11BCE0260)"/>
    <link href="/images/favicon.ico" rel="icon" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" href="/foundation/css/foundation.css"/>
    <script type="text/javascript" src="/foundation/js/vendor/modernizr.js"></script>
    <script type="text/javascript" src="/javascript/customerRegister.js"></script>
</head>
<body>
<nav class="top-bar" data-topbar>
    <ul class="title-area">
        <li class="name">
            <h1><a href="/">Restaurant Management System</a></h1>
        </li>
    </ul>
    <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
            <li><a href="/logout">Logout</a></li>
        </ul>

        <!-- Left Nav Section -->
        <ul class="left">
            <li class="active"><a href="/manager">Overview</a></li>
            <li><a href="/manager/assign">Assign Staff Duties</a></li>
            <li><a href="/manager/staff">New Staff Registration</a></li>
            <li><a href="/manager/report">View Reports</a></li>
        </ul>
    </section>
</nav>

<div class="row">
    <div class="row">
        <h2>Staff List</h2>
    </div>
    <div class="row">
        <div class="large-12 columns">
            {% for staff in Staff %}
            <label>{{ staff.name }}</label><br>
            {% endfor %}
        </div>
    </div>
</div>

<div class="row">
    <div class="row">
        <h2>Customer List</h2>
    </div>
    <div class="row">
        <div class="large-12 columns">
            {% for customer in Customer %}
            <label>{{ customer.name }}</label><br>
            {% endfor %}
        </div>
    </div>
</div>

<footer>
    <div class="large-12 columns">
        <hr>
        <h6 style="text-align: center">Restaurant Management System developed as a <a
                href="https://sites.google.com/a/vit.ac.in/cse310/">Software
            Engineering</a>
            Project by <a href="mailto:neelam.aneesh@gmail.com">Aneesh Neelam (11BCE0260)</a> of <a
                    href="http://vit.ac.in/">VIT
                University</a>.</h6>
    </div>
</footer>

</body>
</html>