<!DOCTYPE html>
<html>
<head>
    <!--[if lt IE 9]>
    <script src="/javascript/compatibility/html5shiv.js"></script>
    <![endif]-->
    <meta charset="UTF-8"/>
    <title>{{HeadTitle}}</title>
    <meta name="author" content="{{HeadAuthor}}"/>
    <link href="/images/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" href="/foundation/css/foundation.css"/>
    <script type="text/javascript" src="/foundation/js/vendor/modernizr.js"></script>
</head>
<body id="body">
<header>
    <div class="row">
        <div class="large-12 columns">
            <h2>{{SystemName}}</h2>
        </div>
    </div>
</header>
<div class="row">
    <div class="large-12 columns">
        <h4>Running on {{EngineName}}</h4>
    </div>
    <div class="large-12 columns">
        <h5>Server status: {{ServerStatus}}</h5>
    </div>
    <div class="large-12 columns">
        <h6>Last Updated: {{lastUpdated}}</h6>
    </div>
</div>
<footer>
    <div class="large-12 columns">
        <hr>
        <h6 style="text-align: center">{{SystemName}} developed as a <a
                href="https://sites.google.com/a/vit.ac.in/cse310/">Software
            Engineering</a>
            Project by <a href="mailto:{{AuthorEmail}}">{{FooterAuthor}}</a> of <a href="http://vit.ac.in/">VIT
                University</a>.</h6>
    </div>
</footer>
</body>
</html>